version: '3'

services:
  api:
    build: ./api
    restart: always
    ports:
      - "127.0.0.1:${VITE_API_PORT}:${VITE_API_PORT}"
    network_mode: host
    env_file:
      - .env

  redis:
    image: redis:8
    restart: always
    ports:
      - "127.0.0.1:${REDIS_PORT}:${REDIS_PORT}"
    volumes:
      - redis:/data
    environment:
      - SERVICE_NAME=redis

volumes:
  redis:
