html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url('/plane.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: calc(100% - 10%) calc(100% - 10%);
    background-color: #87CEEB; /* Light blue background */
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}
.container {
    position: relative;
    display: inline-block;
    max-width: 1600px;
    margin: 50px auto 8px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
@media (max-width: 768px) {
    .container {
        width: 100%; /* Full width on smaller devices */
        margin: 0; /* Remove margin on smaller devices */
        border-radius: 0; /* Remove border radius on smaller devices */
    }
}
a {
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
}
table, th, td {
    border: 1px solid #ddd;
    word-wrap: break-word;
    vertical-align: top;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="text"], input[type="number"], input[type="password"], input[type="date"] {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input.copilot {
    width: 140px;
}
input.registration {
    width: 80px;
}
input.plane_type {
    width: 140px;
}
input#start_year, input#end_year {
    width: 148px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group label span {
  display: inline-block;
  width: 120px;
}
.copilot_id {
  width: 80px;
}
.copilot_birth {
  width: 140px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
td.result, th.result {
  min-width: 150px;
}
td.result a{
  text-decoration: underline;
}
td.date {
  min-width: 78px;
}
.version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8em;
  color: #888;
}
.error {
  color: red;
  font-weight: bold;
}
@keyframes dots {
  0%, 20% {
    content: '.\00a0\00a0';
  }
  40% {
    content: '..\00a0';
  }
  60% {
    content: '...';
  }
  80%, 100% {
    content: '\00a0\00a0\00a0';
  }
}
.indicator::after {
  content: '\00a0\00a0\00a0';
  animation: dots 1s steps(4, end) infinite;
}

ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

ol li {
  counter-increment: item;
  margin: 4px 0;
  padding-left: 36px;
  position: relative;
  line-height: 26px;
}

ol li::before {
  content: counter(item);
  background-color: #3498db; /* Blue color */
  color: white; /* White letters */
  border-radius: 50%; /* Round shape */
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  left: 0;
}

ul.blue {
  list-style-type: none;
  padding: 0;
}

ul.blue li {
  margin: 2px 0;
  padding-left: 22px;
  position: relative;
  line-height: 26px;
}

ul.blue li::before {
  content: '';
  background-color: #3498db; /* Blue color */
  border-radius: 50%; /* Round shape */
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 8px; /* Adjust to vertically center the bullet */
}

.warning-box {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #ffcc00;
  color: #000;
  padding: 20px;
  border: 2px solid #ff9900;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.warning-box a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.warning-box i, .warning-box svg  {
  margin-right: 10px;
  font-size: 24px;
}

.success-box {
  margin-top: 30px;
  color: #006600;
  border-radius: 5px;
}
.success-box a {
  color: #006600;
}
.success-box i, .success-box svg {
  margin-right: 8px;
  font-size: 20px;
}
.success-box span{
  font-size: 18px;
}
input:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}

.social-links {
  color: #888;
  font-size: 14px;
  line-height: 18px
}
.social-links a img {
  height: 18px;
  vertical-align: top;
}
